# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Secrets
.env
settings.json

# VS Code
.vscode/

# Logs
logs/
*.log

# PyInstaller
build/
dist/

# Installer output
installer_output/

# Runtime generated images
images/

# OS
.DS_Store
Thumbs.db

license_server/licenses.json

# Installer build output
installer/